{% extends "network/layout.html" %}

{% block body %}
    <div id="user_name">{{profile_owner}}</div>
    {% if not profile_owner == user.username %}
    <div id="follow-unfollow">
        <a href="#" id="follow-button" class="btn btn-primary follow-button" aria-hidden="true">{{is_following}}</a>
    </div>
    {% endif %}
    <h4> Followers: <span id="followers">{{followers}}</span></h4>
    <h4> Following: <span id="following">{{following}}</span></h4>

    {% if user.is_authenticated %}
        {% if profile_owner == visitor.username %}
        <div id="create-new-post-view " class="border border-dark w-50 row justify-content-center align-items-center">
            <h2>Write Your Toughts Here</h2>
            <form action = "{% url 'create_new_post' %}" method = "post" id="create-new-post">
                {% csrf_token %}
                <textarea class="m-2" name = "content"id="text-area" placeholder="Your thoughts" rows="3" cols=""></textarea>
                <input id = "create-post-button" type="submit" class="btn btn-primary" disabled/>
            </form>
        </div>
        {% endif %}
    {% endif %}
    <div id="post-container">
    <div id = "invalid-post-error">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
        {{message}}
            </div>
        {% endfor %}
    {% endif %} 
    </div>

    <div id="all-posts" class="row justify-content-center m-2 text-center" >
        {% for post in posts%}
             `<div class="card" style="width: 18rem;">
          <div class="card-body post" id={{post.id}}>
              <div id="edit-view" class="d-none">
                <form id="edit-selected-post">
                  <textarea class="m-2" id="context-text-area" placeholder="Your thoughts" rows="3" cols=""></textarea>
                  <input type="submit" class="btn btn-primary save-button" value="Save"/>
                </form>
              </div>  
                <div id="post-content-view" class="d-block">
                  <a href="{% url 'load_profile' username=post.creator %}" id="user" class="username">{{post.creator}}</a>
                  <p class="card-text" id="content">{{post.content}}</p>
                  <p class="card-text" id="date">{{post.created_at}}</p>
                  <h4 class="card-text" id="likes">{{post.likes}} Likes</h5>
                  <a href="#" class="btn btn-primary like-button" aria-hidden="true">Like</a>
                  {% if user == post.creator %}
                    <a href="#" class="btn btn-success edit-button" aria-hidden="true">Edit</a>
                  {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}